.hero-image{
  background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url("../../assets/images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh
}

@keyframes fadeInAnimationHero{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
    top: 45%;
  }
}
.hero-image .title{
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  animation: fadeInAnimationHero ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
} 
.hero-image .title h1{
  text-transform: uppercase;
  font-size: 4vw;
  text-shadow: 2px 2px 6px black;
}
.hero-image .title h3{
  text-transform: uppercase;
  font-size: 2vw;
}
#home-div{
  padding-top: 3%;
}
#home-div .card{
  margin: 5% auto;
  padding: 2%;
  border: none;
  background-color: rgba(0,0,0,0.8);
  box-shadow: 0px 0px 5px black;
}
#home-div .card:hover{
  background-color: rgba(0,0,0,1);
}
#home-div .card img{
  padding: 0.5%;
  border-radius: 7px;
}
#home-div .card h3{
  color: rgb(154, 194, 247);
  text-decoration: underline;
  letter-spacing: .5px;
  font-size: 30px;
}
#home-div .card p{
  padding: 5px;
  color: aliceblue;
  font-size: 19px;
  letter-spacing: .5px;
  text-align: justify;
  
}