/*********************navbar***********************/
.topnav{
  display: block;
  background-color: #0a0e2a;
  position: fixed;
  overflow: hidden;
  top: 40px;
  width: 100%;
  transition: top 500ms;
  z-index: 2;
}

.topnav a{
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 200ms;
  font-size: 17px;
  letter-spacing: 1px;
}
.topnav span{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 200ms;
  font-size: 17px;
  cursor: pointer;
}

.topnav a.active{
  color: tomato;
}
.topnav a:hover{
  color: tomato;
}
.topnav .icon{
  display: none;
}
@media screen and (max-width: 650px) {
  .topnav a:not(:last-child) {display: none;}
  .topnav span.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 650px) {
  .topnav.responsive {display: block;transition: 500ms;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.topnav #title{
  letter-spacing: 1px;
  font-weight: 550;
  text-transform: uppercase;
}
.topnav #title:hover{
  text-shadow: 2px 2px 5px yellow;
  background-color: transparent;
  opacity: 0.9;
  color: pink;
}

.topnav #title img{
  width: 25px;
  border-radius: 50%;
  margin: 0px 5px 0px 0px;
}
@keyframes fadeInAnimation{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.user{
  float: right;
  z-index: 2;
}
.user a{
  color: white;
  text-decoration: none;
  font-size: 17px;
  line-height: 35px;
  letter-spacing: .5px;
  background-color: tomato;
  padding: 14px 18px;
}
.user a:hover{
  color: #0a0e2a;
  background-color: aliceblue;
}
.user a.active{
  background-color: #04AA6D;
  color: white;
}
.user button{
  border-radius: 0;
  outline: none;
  border: none;
  padding: 8px 18px;

}