.blogs-header h1{
  padding: 8% 5% 0% 5%;
  font-size: 50px;
  text-align: center;
  color: aliceblue;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: underline;
  animation: headerAnimation ease-in-out 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;

}

.blogs-body .post-blog-btn{
  display: block;
  padding: 2%;
  text-align: center;
}
.blogs-body .post-blog-btn button{
  padding: 10px 12px;
  border: none;
  color: aliceblue;
  background-color: #0a0e2a;
  font-size: 17px;
  letter-spacing: 0.5px;
  font-weight: 600;
  transition: 500ms;
}
.blogs-body .post-blog-btn button:hover{
  color: #0a0e2a;
  background-color: aliceblue;
}
.blogs-body .post-blog-btn button:focus{
  color: #0a0e2a;
  background-color: aliceblue;
}


.blogs-body .blogs-content .card{
  border: none;
  box-shadow: 0px 0px 3px white;
  border-radius: 0px;
  margin-bottom: 5%;
  background-color: transparent;
  max-height: 100%;
}
.blogs-body .blogs-content .card-header{
  color: rgb(154, 194, 247);
  background-color:rgba(23,22,54,.5);
}
.blogs-body .blogs-content .card-body{
  color: aliceblue;
  background-color:rgba(23,22,54,.3);
  padding: 0;
}
.blogs-body .blogs-content .card-body img{
  width: 100%;
}
.blogs-body .blogs-content .card-body h6{
  padding: 6px;
  border: 1px solid azure;
  font-weight: 600;
  box-shadow: 0 0 5px tomato;
}
.blogs-body .blogs-content .card-body p{
  padding: 8px;
  font-weight: 400;
}
.blogs-body .blogs-content .card-body span{
  padding: 8px;
  font-weight: 400;
  transition: 500ms;
}
.blogs-body .blogs-content .card-body span:hover{
  color: rgb(221, 37, 221);
}






.blog{
  color: aliceblue;
  padding: 1% 2%;
  text-align: center;
}
.blog h1{
  color: rgb(154, 194, 247);
  text-transform: uppercase;
  text-decoration: underline;
  padding: 1% 2%;
  text-align: center;
}