#blogpage{
  background: #fff;
}
.blog-tab{
  margin: 2% 11%;
  border-bottom: 1px groove #0a0e2a;
}
.tablink{
  background-color: #fff;
  color: #0a0e2a;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  transition: color 600ms;
  min-width: 16.66666666%;
  letter-spacing: 0.5px;
  width: fit-content;
}
.tabcontent{
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
}
.tabcontent p{
  line-height: 24px;
  overflow: hidden;
  max-height: 72px;
}
.tabcontent img{
  height: 231px;
}
#All{
  display: block;
}#All-btn{
  color: black;
  font-weight: 600;
}
.card{
  transition: 500ms;
}
.read-btn{
  border: none;
  outline: none;
  background-color: transparent;
  border: 1px solid #24a0ed;
  color: #24a0ed;
  border-radius: 3px;
  padding: 6px;
  transition: 300ms;
}
.read-btn:hover{
  background-color: #24a0ed;
  border: 1px solid #24a0ed;
  color: aliceblue;
}
.tabcontent .card:hover{
  background-color: #212529;
  color: aliceblue;
  border: 1px groove #212529;
}